#container{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.showcase{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url(landing.png) no-repeat center/cover;
}

nav{
    height: 40px;
    background: #333;
    position: fixed;
    width: 100%;
}

li{
    display: inline-block;
    padding: 12px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.showcase a{
    text-decoration: none;
    color: #eee;
}

.showcase .text{
    max-width: 1180px;
    text-align: center;
    margin: auto;
    padding: 30vh 3rem;
    color: white;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

 .text h2 , #music h2 , #video h2 , #sky h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;

}

.showcase .text p, #music p, #video p, #sky p{
    width: 55%;
    font-size: 21px;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#music{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #3a3a53;
}

#music img , #video img{
    width: 750px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#music a{
    text-decoration: none;
    width: 190px;
    height: 20px;
    padding: 1rem;
    text-align: center;
    font-size: 1.rem;
    display: inline-block;
    margin: 15px 45%;
    background: #D3071B;
    color: #eee;
}

#video h2, #video p, #gift h2, #gift p{
    color: black;
}



#video a{
    text-decoration: none;
    width: 100px;
    padding: 1rem;
    display: inline-block;
    margin: 15px 45%;
    background: #333945;
    color: #eee;
}

#sky{
    height: 35vh;
    background: url(sky.png);
    padding: 5rem 0;
}

#gift h3{
    color: black;
    font-weight: bold;
}
#gift{
    width: 1180px;
    height: 30vh;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

#gift img{
    display: inline-block;
    vertical-align: top;
    width: 42%;
    padding-left: 28px;
}

#gift .text{
    margin: 62px auto auto 75px;
    display: inline-block;
    width: 48%;
    text-align: left;
    font-size: 17px;
}

#gift h3{
    font-weight: bold;
    padding-bottom: 3%;
    font-size: 20px;
}

#foot{
    height: 25vh;
    background: #252529;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 1%;
    color: white;
    font-size: 15Spx;
}

.row{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.column{
    width: 213px;
}

.column h3{
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 3%;
    border-bottom: 1px dotted white;
    padding-bottom: 6%;
}

.column ul li a{
    text-decoration: none;
    color: white;
}

.column ul li{
    padding-bottom: 0.5%;
    margin-left: 0;

}

footer{
    background: #2e2d30;
    text-align: center;
    color: white;
    height: 3vh;
    padding-top: 1%;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}