#container{
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.showcase{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url(/photo/showcase.png) no-repeat center/cover;
}

nav{
    height: 40px;
    background: #333;
    position: fixed;
    width: 100%;
}

li{
    display: inline-block;
    padding: 12px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.showcase a{
    text-decoration: none;
    color: #eee;
}

.text{
    max-width: 1180px;
    text-align: center;
    margin: auto;
    padding: 30vh 3rem;
    color: white;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

 h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p{
    width: 55%;
    font-size: 21px;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#music{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #252529;
}

img{
    width: 50%;
    margin: 0 25%;
}

#music a{
    text-decoration: none;
    width: 150px;
    height: 20px;
    padding: 1rem;
    font-size: 1.rem;
    display: inline-block;
    margin: 15px 45%;
    background: #D3071B;
    color: #eee;
}